ImpulseApp/ImpulseApp/Service References/DBService/ImpulseApp.Models.StatModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" />
  <xs:complexType name="ArrayOfAdSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdSession" nillable="true" type="tns:AdSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdSession" nillable="true" type="tns:ArrayOfAdSession" />
  <xs:complexType name="AdSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbTestId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveMilliseconds" type="xs:int" />
      <xs:element minOccurs="0" name="Activities" nillable="true" type="tns:ArrayOfActivity" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="Ad" nillable="true" type="q1:SimpleAdModel" />
      <xs:element minOccurs="0" name="AdId" type="xs:int" />
      <xs:element minOccurs="0" name="DateTimeEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserBrowser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLocale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdSession" nillable="true" type="tns:AdSession" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clicks" nillable="true" type="tns:ArrayOfClick" />
      <xs:element minOccurs="0" name="CurrentStateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:AdSession" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:complexType name="ArrayOfClick">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Click" nillable="true" type="tns:Click" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClick" nillable="true" type="tns:ArrayOfClick" />
  <xs:complexType name="Click">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="tns:Activity" />
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="ClickCurrentStage" type="xs:int" />
      <xs:element minOccurs="0" name="ClickId" type="xs:int" />
      <xs:element minOccurs="0" name="ClickNextStage" type="xs:int" />
      <xs:element minOccurs="0" name="ClickNextTime" type="xs:int" />
      <xs:element minOccurs="0" name="ClickStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClickText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClickTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClickType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClickZone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Click" nillable="true" type="tns:Click" />
</xs:schema>