ImpulseApp/ImpulseApp/Service References/DBService/ImpulseApp.Models.AdModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" />
  <xs:complexType name="ArrayOfSimpleAdModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleAdModel" nillable="true" type="tns:SimpleAdModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleAdModel" nillable="true" type="tns:ArrayOfSimpleAdModel" />
  <xs:complexType name="SimpleAdModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="AdSessions" nillable="true" type="q1:ArrayOfAdSession" />
      <xs:element minOccurs="0" name="AdStates" nillable="true" type="tns:ArrayOfAdState" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HtmlSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JsSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortUrlKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleAdModel" nillable="true" type="tns:SimpleAdModel" />
  <xs:complexType name="ArrayOfAdState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdState" nillable="true" type="tns:AdState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdState" nillable="true" type="tns:ArrayOfAdState" />
  <xs:complexType name="AdState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad" nillable="true" type="tns:SimpleAdModel" />
      <xs:element minOccurs="0" name="AdId" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:int" />
      <xs:element minOccurs="0" name="HtmlSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoUnit" nillable="true" type="tns:VideoUnit" />
      <xs:element minOccurs="0" name="VideoUnitId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdState" nillable="true" type="tns:AdState" />
  <xs:complexType name="VideoUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdStates" nillable="true" type="tns:ArrayOfAdState" />
      <xs:element minOccurs="0" name="DateLoaded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneratedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoUnit" nillable="true" type="tns:VideoUnit" />
  <xs:complexType name="ArrayOfVideoUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoUnit" nillable="true" type="tns:VideoUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoUnit" nillable="true" type="tns:ArrayOfVideoUnit" />
</xs:schema>