ImpulseApp/ImpulseApp/Service References/DBService/ImpulseApp.Models.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VideoNotFoundException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImpulseBaseException">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoNotFoundException" nillable="true" type="tns:VideoNotFoundException" />
  <xs:complexType name="ImpulseBaseException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImpulseBaseException" nillable="true" type="tns:ImpulseBaseException" />
  <xs:complexType name="VersioningException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImpulseBaseException">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VersioningException" nillable="true" type="tns:VersioningException" />
  <xs:complexType name="AbTestException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImpulseBaseException">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbTestException" nillable="true" type="tns:AbTestException" />
</xs:schema>