ImpulseApp/ImpulseApp/Service References/DBService/ImpulseApp.Models.UtilModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.UtilModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.UtilModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModeratorView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReviewed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Review" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeratorView" nillable="true" type="tns:ModeratorView" />
  <xs:complexType name="ArrayOfModeratorView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeratorView" nillable="true" type="tns:ModeratorView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeratorView" nillable="true" type="tns:ArrayOfModeratorView" />
</xs:schema>