ImpulseApp/ImpulseApp/Service References/DBService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.DTO" />
  <xs:element name="GetUserAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetUserAdsResult" nillable="true" type="q1:ArrayOfSimpleAdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdByUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdByUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetAdByUrlResult" nillable="true" type="q2:SimpleAdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetAdByIdResult" nillable="true" type="q3:SimpleAdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="model" nillable="true" type="q4:SimpleAdModel" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByAdId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByAdIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="GetSessionsByAdIdResult" nillable="true" type="q5:ArrayOfAdSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="model" nillable="true" type="q6:AdSession" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityBySessionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityBySessionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="GetActivityBySessionIdResult" nillable="true" type="q7:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="model" nillable="true" type="q8:Activity" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClicksByActivityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClicksByActivityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="GetClicksByActivityIdResult" nillable="true" type="q9:ArrayOfClick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="model" nillable="true" type="q10:Click" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClickResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="model" nillable="true" type="q11:VideoUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveVideoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetUserVideoResult" nillable="true" type="q12:ArrayOfVideoUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetVideoByIdResult" nillable="true" type="q13:VideoUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateByAdIdAndVideoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adId" type="xs:int" />
        <xs:element minOccurs="0" name="videoId" type="xs:int" />
        <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateByAdIdAndVideoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetStateByAdIdAndVideoIdResult" nillable="true" type="q14:AdState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="versioning" nillable="true" type="q15:Versioning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdVersioningByEntityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rootId" type="xs:int" />
        <xs:element minOccurs="0" name="childId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdVersioningByIdsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByIdAndUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rootId" type="xs:int" />
        <xs:element minOccurs="0" name="childUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByIdAndUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdVersioningByIdAndUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByPreviousIdAndUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prevId" type="xs:int" />
        <xs:element minOccurs="0" name="childUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByPreviousIdAndUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdVersioningByPreviousIdAndUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByUrls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rootUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdVersioningByUrlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdVersioningByUrlsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRootResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRootResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootAdId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootAdIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRootAdIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.DTO" minOccurs="0" name="GetChildAdsResult" nillable="true" type="q16:ArrayOfVersioningDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAbTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="test" nillable="true" type="q17:ABTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAbTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAbTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbTestByUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbTestByUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetAbTestByUrlResult" nillable="true" type="q18:ABTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbTestById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbTestByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetAbTestByIdResult" nillable="true" type="q19:ABTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveByAdId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveByAdIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetActiveByAdIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>