ImpulseApp/StubMethods/Service References/DatabaseService/ImpulseApp.Models.AdModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" />
  <xs:complexType name="ArrayOfSimpleAdModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleAdModel" nillable="true" type="tns:SimpleAdModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleAdModel" nillable="true" type="tns:ArrayOfSimpleAdModel" />
  <xs:complexType name="SimpleAdModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="AdSessions" nillable="true" type="q1:ArrayOfAdSession" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HtmlSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortUrlKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleAdModel" nillable="true" type="tns:SimpleAdModel" />
</xs:schema>