ImpulseApp/StubMethods/Service References/DatabaseService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" />
  <xs:element name="GetUserAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetUserAdsResult" nillable="true" type="q1:ArrayOfSimpleAdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdByUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdByUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetAdByUrlResult" nillable="true" type="q2:SimpleAdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="GetAdByIdResult" nillable="true" type="q3:SimpleAdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.AdModels" minOccurs="0" name="model" nillable="true" type="q4:SimpleAdModel" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByAdId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByAdIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="GetSessionsByAdIdResult" nillable="true" type="q5:ArrayOfAdSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="model" nillable="true" type="q6:AdSession" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityBySessionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityBySessionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="GetActivityBySessionIdResult" nillable="true" type="q7:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="model" nillable="true" type="q8:Activity" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClicksByActivityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClicksByActivityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="GetClicksByActivityIdResult" nillable="true" type="q9:ArrayOfClick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.StatModels" minOccurs="0" name="model" nillable="true" type="q10:Click" />
        <xs:element minOccurs="0" name="proceedToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClickResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>