ImpulseApp/ImpulseApp.Outbound/Service References/DBService/ImpulseApp.Models.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImpulseApp.Models.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVersioningDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VersioningDTO" nillable="true" type="tns:VersioningDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVersioningDTO" nillable="true" type="tns:ArrayOfVersioningDTO" />
  <xs:complexType name="VersioningDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildAdId" type="xs:int" />
      <xs:element minOccurs="0" name="RootAdId" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersioningDTO" nillable="true" type="tns:VersioningDTO" />
</xs:schema>